<% provide(:title, current_user.email) %>

<h2>ユーザー情報</h2>

<div class="container">
  <div class="col col-md-12 table-user">
    <table class="table table-responsive">
      <tr>
        <td><%= User.human_attribute_name :email %></td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td><%= User.human_attribute_name :provider %></td>
        <td><%= provider %></td>
      </tr>
      <tr>
        <td><%= User.human_attribute_name :current_sign_in_at %></td>
        <td><%= l(current_user.current_sign_in_at, format: :long) unless current_user.current_sign_in_at == nil %></td>
      </tr>
      <tr>
        <td><%= User.human_attribute_name :created_at %></td>
        <td><%= l(current_user.created_at, format: :long) %></td>
      </tr>
    </table>
  </div>
</div>
