<%= form_with url: parts_lists_path, method: :get, local: true do |f| %>
  <div class="col col-md-4 search-form">
    <div class="input-group input-group">
      <%= f.text_field :name, placeholder: "型式を入力", class: "form-control" %>
      <div class="input-group-btn">
        <%= f.submit "検索", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>

<div class="col col-md-8 paginate-parts-list">
  <%= paginate @products unless search_name %>
</div>

<table class="table parts-list table-responsive table-hover">
  <% unless @products.blank? %>
    <thead>
      <tr>
        <th class="parts-list"><%= Product.human_attribute_name :name %></th>
        <th class="parts-list">PDF</th>
        <th class="parts-list"><%= Product.human_attribute_name :serial %></th>
      </tr>
    </thead>
  <% else %>
    <tbody>
      <tr>
        <td class="search-none-message"><%= link_to "登録型式がありません。", parts_lists_path, class: "fa-lg" %><%= link_to "", parts_lists_path, class: "fas fa-backspace fa-lg" %></td>
      </tr>
    </tbody>
  <% end %>
  
  <% @products.each do |product| %>
    <tbody>
      <tr>
        <td class="parts-list"><%= product.name %></td>
        <td class="parts-list"><%= link_to "", product.url, target: :_blank, class: "far fa-file-pdf fa-lg" %></td>
        <td class="parts-list"><%= product.serial %></td>
      </tr>
    </tbody>
  <% end %>
</table>
