
<div class="btn-toolbar">
  <div class="btn-edit btn-group">
    <%= link_to "登録", new_product_path, class: "btn btn-primary" %>
  </div>

  <%= form_with url: products_path, method: :get, local: true do |f| %>
    <div class="col col-md-3 btn-group">
      <div class="input-group input-group">
        <%= f.text_field :name, class: "form-control" %>
        <div class="input-group-btn">
          <%= f.submit "検索", class: "btn btn-primary " %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-responsive table-bordered table-hover">
  <% unless @products.blank? %>
    <thead>
      <tr>
        <th width="200">型式</th>
        <th></th>
        <th width="250">シリアル番号</th>
        <th>URL</th>
        <th></th>
      </tr>
    </thead>
  <% else %>
    <h1>型式の登録がありません。<%= link_to "", products_path,class: "fas fa-undo-alt" %></h1>
  <% end %>
  <% @products.each do |product| %>
    <tbody>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to "編集", edit_product_path(product), class: "btn btn-success" %></td>
        <td><%= product.serial %></td>
        <td><%= product.url %></td>
        <td>
          <%= link_to "削除", product_path(product),
                              method: :delete,
                              data: { confirm: "#{product.name}のデータを削除します。"},
                              class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
