<p><%= link_to "登録", new_product_path %></p>

  <% @products.each do |product| %>
    <p>
      <%= link_to "#{product.name}", product.url, target: :_blank %>
      <%= product.serial %>
      <%= "(登録日:#{product.created_at.strftime("%F")})" %>
      <%= link_to "編集", edit_product_path(product) %>
      <%= link_to "削除", product_path(product), method: :delete,
                          data: { confirm: "#{product.name}のデータを削除します。"} %>
    </p>
  <% end %>