<%= form_with url: products_path, method: :get, local: true do |f| %>
  <div class="col col-md-4 search-form"">
    <div class="input-group input-group">
      <%= f.text_field :name, class: "form-control" %>
      <div class="input-group-btn">
        <%= f.submit "検索", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>

<div class="col col-md-8 paginate-parts-list">
  <%= paginate @products unless search_name %>
</div>


<div class="col col-md-12">
  <div class="btn-product-new">
    <!-- 登録 -->
    <%= link_to "", new_product_path, class: "fas fa-plus-circle fa-lg" %>
  </div>
</div>

<table class="table table-responsive table-hover">
  <% unless @products.blank? %>
    <thead>
      <tr>
        <th width="200"><%= Product.human_attribute_name :name %></th>
        <th></th>
        <th width="250"><%= Product.human_attribute_name :serial %></th>
        <th><%= Product.human_attribute_name :url %></th>
        <th></th>
      </tr>
    </thead>
  <% else %>
    <tbody>
      <tr>
        <td class="search-none-message"><%= link_to "登録型式がありません。", products_path, class: "fa-lg" %><%= link_to "", parts_lists_path, class: "fas fa-backspace fa-lg" %></td>
      </tr>
    </tbody>
  <% end %>
  
  <% @products.each do |product| %>
    <tbody>
      <tr>
        <td><%= product.name %></td>
        <td>
          <!-- 編集 -->
          <%= link_to "", edit_product_path(product), class: "fas fa-edit fa-lg" %>
        </td>
        <td><%= product.serial %></td>
        <td><%= product.url %></td>
        <td>
          <!-- 削除 -->
          <%= link_to "", product_path(product),
                              method: :delete,
                              data: { confirm: "#{product.name}のデータを削除します。"},
                              class: "fas fa-times-circle fa-lg" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
