<header class="navbar navbar-fixed-top navbar-right">
  <div class="container">
    <%= link_to "Husq Parts", header_logo_link, id: "logo" %>

    <% if user_signed_in? %>
      <nav class="nav navbar-nav navbar-right">
        <ul class="pc-display">
          <li><%= link_to current_user.email, user_path(current_user) %></li>
          <li><%= link_to "パーツ表", parts_lists_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
        <ul class="mobile-display">
          <li><%= link_to "", user_path(current_user), class: "fas fa-user-circle" %></li>
          <li><%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
        </ul>
      </nav>
    <% end %>

    <% if admin_signed_in? %>
      <nav class="nav navbar-nav navbar-right">
        <ul class="pc-display">
          <li><%= link_to "パーツ表", parts_lists_path %></li>
          <li><%= link_to "編集", products_path %></li>
          <li><%= link_to "登録者一覧", users_path %></li>
          <li><%= link_to "管理者情報", '#' %></li>
          <li><%= link_to "Market情報", markets_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
        <ul class="mobile-display">
          <li><%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
